.lp1-body {
  font-size: 0.9rem;
  color: #383e45;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4%;
}

.site-title {
  margin: 10px 0;
  padding: 5px 18px;
  background: #444;

  > .link {
    display: block;
    font-size: 26px;
    letter-spacing: 0.02em;
    color: #fff;
    text-decoration: none;
  }
}

.site-nav {
  > .list {
    display: flex;
  }
}

.nav-item {
  margin-left: 30px;
  list-style: none;

  > .link {
    text-decoration: none;
    color: #383e45;
  }
}

.main-visual {
  position: relative;
  max-width: 1920px;
  height: 600px;
  margin-bottom: 80px;
}

.about-section {
  text-align: center;

  .title {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
  }
}
